* {
  margin: 0;
  padding: 0; }

ul li {
  list-style: none; }

a {
  text-decoration: none; }

header {
  height: 100px;
  display: flex;
  justify-content: center; }
  header .logo-container {
    position: relative;
    bottom: 30px; }
    header .logo-container .logo {
      width: 250px; }

.main-nav > ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #53585a;
  z-index: 1;
  position: relative;
  top: 15px; }

nav > ul > li {
  flex: 0 1 auto;
  margin: 0;
  padding: 0;
  position: relative;
  transition: all linear 0.1s; }

nav > ul > li:hover {
  background: #6e9c38;
  transition-duration: 1s;
  transition-timing-function: ease; }

nav > ul > li a + div {
  background: #7db442;
  border-radius: 0 0 2px 2px;
  box-shadow: 0 3px 1px rgba(0, 0, 0, 0.05);
  display: none;
  font-size: 1rem;
  position: absolute;
  width: 195px;
  z-index: 2111; }

nav > ul > li:hover a + div {
  display: block; }

nav > ul > li a + div > ul {
  list-style-type: none; }

nav > ul > li a + div > ul > li {
  margin: 0;
  padding: 0; }

nav > ul > li a + div > ul > li > a {
  color: rgba(255, 255, 255, 0.9);
  display: block;
  font-size: .75rem;
  letter-spacing: 1.5px;
  padding: .25rem 1.5rem;
  text-decoration: none;
  text-transform: uppercase; }

nav > ul > li a + div > ul > li:hover > a {
  background-color: rgba(0, 0, 0, 0.15); }

nav > ul > li > a {
  align-items: center;
  color: #fff;
  display: flex;
  font-size: 1rem;
  line-height: 20px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 1rem 1.5rem;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  transition: all linear 0.1s; }

nav > ul > li > a > div > span {
  color: rgba(255, 255, 255, 0.75);
  display: block;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: .7rem;
  font-style: italic;
  line-height: 1rem;
  max-width: 260px; }

@media (min-width: 990px) {
  nav > ul > li > a {
    max-width: 500px;
    line-height: 2rem; }

  nav > ul > li > a > div > span {
    margin: 4px 0 0; } }
/*  Menu for small screen */
#mobile-menu {
  display: none;
  z-index: 2; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

#drawer {
  /* adds animation for all transitions */
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: none;
  z-index: 102; }

/* Makes sure that everything is 100% height */
html,
body {
  height: 100%;
  background: white; }

/* gets the actual input out of the way; 
we're going to style the label instead */
#drawer-toggle {
  position: absolute;
  opacity: 0; }

#drawer-toggle-label {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  left: 0px;
  top: 15px;
  height: 50px;
  width: 50px;
  display: block;
  position: fixed;
  background: rgba(255, 255, 255, 0);
  z-index: 1; }

/* adds our "hamburger" menu icon */
#drawer-toggle-label:before {
  content: "";
  display: block;
  position: absolute;
  height: 2px;
  width: 24px;
  background: #8d8d8d;
  left: 13px;
  top: 18px;
  box-shadow: 0 6px 0 #8d8d8d, 0 12px 0 #8d8d8d; }

/* drawer menu pane - note the 0px width */
#drawer {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #616161;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: -300px;
  height: 100%;
  width: 300px;
  background: white;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 20px;
  -webkit-overflow-scrolling: touch; }

/* checked styles (menu open state) */
#drawer-toggle:checked ~ #drawer-toggle-label {
  height: 100%;
  width: calc(100% - 300px);
  background: rgba(255, 255, 255, 0.8); }

#drawer-toggle:checked ~ #drawer-toggle-label,
#drawer-toggle:checked ~ header {
  left: 300px; }

#drawer-toggle:checked ~ #drawer {
  left: 0px; }

#drawer-toggle:checked ~ #page-content {
  margin-left: 300px; }

/* Menu item styles */
#drawer ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  display: -webkit-flex;
  -webkit-flex-direction: column; }

#drawer ul a {
  display: block;
  padding: 10px;
  color: #5c5c5c;
  text-decoration: none; }

#drawer ul a:hover {
  color: white; }

/* Responsive MQ */
@media all and (max-width: 350px) {
  #drawer-toggle:checked ~ #drawer-toggle-label {
    height: 100%;
    width: 50px; }

  #drawer-toggle:checked ~ #drawer-toggle-label,
  #drawer-toggle:checked ~ header {
    left: calc(100% - 50px); }

  #drawer-toggle:checked ~ #drawer {
    width: calc(100% - 50px);
    padding: 20px; }

  #drawer-toggle:checked ~ #page-content {
    margin-left: calc(100% - 50px); } }
@media screen and (max-width: 992px) {
  #main-nav {
    display: none; }

  #mobile-menu {
    display: block; }

  .logo {
    width: 200px;
    left: 0;
    display: block;
    margin: 10px auto; } }
@media screen and (max-width: 500px) {
  h1 {
    line-height: 48px;
    font-size: 38px; } }
.swiper-container {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  z-index: 0 !important; }

.swiper-container img {
  width: 100%;
  height: auto; }

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center; }

.swiper-wrapper {
  z-index: 0 !important; }

.conditions-wrapper {
  margin-top: 50px;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #616161;
  background-color: #fff;
  position: relative; }
  .conditions-wrapper h2 {
    text-align: center; }
  .conditions-wrapper .conditions {
    width: 90%;
    margin: 0 auto;
    display: flex;
    margin-top: 50px; }
    .conditions-wrapper .conditions h3 {
      text-align: center;
      margin-top: 20px; }
    .conditions-wrapper .conditions .documents {
      width: 50%;
      text-align: center; }
      .conditions-wrapper .conditions .documents img {
        width: 80px;
        margin: 0 auto;
        display: block; }
      .conditions-wrapper .conditions .documents ul {
        margin-top: 8px; }
    .conditions-wrapper .conditions .payment {
      width: 50%;
      text-align: center; }
      .conditions-wrapper .conditions .payment img {
        width: 100px;
        margin: 0 auto;
        display: block; }
      .conditions-wrapper .conditions .payment ul {
        margin-top: 8px; }

footer {
  width: 100%;
  margin-top: 50px;
  padding-top: 50px;
  background-color: #53585a;
  display: flex; }
  footer .footer-copyright {
    width: 33.3%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: white;
    top: 70px;
    text-align: center; }
  footer .nav-list {
    top: 70px;
    text-align: center;
    width: 33.3%; }
  footer .nav-list a {
    text-decoration: none;
    transition: color 0.3s ease-out;
    color: inherit; }
  footer .nav-list li {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: white;
    position: relative;
    position: relative;
    display: inline-block;
    margin: 5px;
    letter-spacing: -1px; }
  footer .download:after,
  footer .download:before,
  footer .download a:after,
  footer .download a:before {
    background-color: #CEDD3E; }
  footer .download:hover {
    color: #CEDD3E; }
  footer .features:after,
  footer .features:before,
  footer .features a:after,
  footer .features a:before {
    background-color: #F27132; }
  footer .features:hover {
    color: #F27132; }
  footer .method:after,
  footer .method:before,
  footer .method a:after,
  footer .method a:before {
    background-color: #85C3E9; }
  footer .method:hover {
    color: #85C3E9; }
  footer .purchase:after,
  footer .purchase:before,
  footer .purchase a:after,
  footer .purchase a:before {
    background-color: #FDBE2A; }
  footer .purchase:hover {
    color: #FDBE2A; }
  footer .nav-list li:after,
  footer .nav-list li:before,
  footer .nav-list a:before,
  footer .nav-list a:after {
    position: absolute;
    content: '';
    border-radius: 4px; }
  footer .nav-list li:after,
  footer .nav-list li:before {
    bottom: -4px;
    height: 4px; }
  footer .nav-list li:not(.selected):before {
    left: 0;
    right: -2px; }
  footer .nav-list li.selected:after {
    left: 0;
    right: 39px; }
  footer .nav-list li.selected:before {
    right: -2px;
    width: 13px; }
  footer .nav-list .selected a:before {
    height: 22px;
    width: 4px;
    bottom: -22px;
    right: 7px; }
  footer .nav-list .selected a:after {
    height: 4px;
    width: 40px;
    bottom: -13px;
    right: 5px;
    transform: rotate(30deg); }
  footer .cards {
    width: 33.3%;
    margin: 0 auto;
    bottom: 20px;
    display: block;
    position: relative; }
    footer .cards img {
      width: 100px;
      top: 50px;
      margin: 0 auto;
      display: block; }

.footer-bottom {
  width: 100%;
  background-color: white;
  display: flex; }
  .footer-bottom .footer-phone {
    width: 33.3%;
    margin: 0 auto;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5; }
    .footer-bottom .footer-phone img {
      width: 70px; }
  .footer-bottom .footer-logo {
    width: 33.3%;
    margin: 0 auto; }
    .footer-bottom .footer-logo img {
      margin: 0 auto;
      display: block;
      margin-top: 10px; }
  .footer-bottom .footer-social {
    width: 33.3%;
    margin: 0 auto; }
    .footer-bottom .footer-social img {
      display: block;
      margin: 0 auto; }

@media screen and (max-width: 992px) {
  .swiper-container {
    height: auto;
    margin-top: 25px !important; }

  .main-nav {
    display: none; }

  .conditions {
    width: 100%;
    flex-direction: column;
    margin: 0 auto; }

  .documents {
    width: 100% !important;
    margin: 0 auto; }

  .payment {
    width: 100% !important;
    margin: 0 auto; }
    .payment img {
      margin-top: 40px !important; }

  footer {
    flex-direction: column; }

  footer .footer-copyright {
    width: 100%;
    padding: 20px; }

  footer .nav-list {
    width: 100%;
    padding: 20px; }

  footer .cards {
    width: 100%;
    bottom: 0;
    padding: 20px; } }
.conditions-image {
  width: 100%;
  height: 400px; }
  .conditions-image .conditions-h1 {
    color: white;
    text-align: center;
    font-size: 50px;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
    padding-top: 220px;
    position: absolute;
    margin: 0 auto;
    width: 100%; }

.conditions-wrapper-block {
  width: 90%;
  margin-top: 150px;
  padding-left: 10%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #616161;
  background-color: #fff; }
  .conditions-wrapper-block p {
    padding-bottom: 20px; }
  .conditions-wrapper-block ul {
    margin-bottom: 20px; }
  .conditions-wrapper-block li::before {
    content: '';
    display: block;
    position: relative;
    /* left: 70px; */
    right: 20px;
    top: 18px;
    width: 10px;
    height: 10px;
    background: green;
    border-radius: 50%;
    box-sizing: border-box; }

@media screen and (max-width: 992px) {
  .condition-main-img {
    padding-top: 57px;
    height: 350px; }

  .conditions-h1 {
    padding-top: 180px !important; }

  .conditions-wrapper-block {
    margin-top: 50px; } }
.faq-wrapper-img img {
  width: 100%;
  height: 500px; }

.faq-answer-block {
  width: 90%;
  margin-top: 50px;
  padding-left: 10%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #616161;
  background-color: #fff; }
  .faq-answer-block h1 {
    text-align: center; }
  .faq-answer-block h2 {
    margin-top: 20px; }
  .faq-answer-block p {
    padding: 11px; }

@media screen and (max-width: 992px) {
  .faq-wrapper-img {
    padding-top: 57px; }

  .faq-img {
    height: 250px !important; } }
.price-wrapper-img {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  text-align: center; }
  .price-wrapper-img .nav-list {
    top: 70px;
    text-align: center;
    width: 33.3%; }
  .price-wrapper-img .nav-list a {
    text-decoration: none;
    transition: color 0.3s ease-out;
    color: inherit; }
  .price-wrapper-img .nav-list li {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #585656;
    position: relative;
    position: relative;
    display: inline-block;
    margin: 5px;
    letter-spacing: -1px; }
  .price-wrapper-img .download:after,
  .price-wrapper-img .download:before,
  .price-wrapper-img .download a:after,
  .price-wrapper-img .download a:before {
    background-color: #CEDD3E; }
  .price-wrapper-img .download:hover {
    color: #CEDD3E; }
  .price-wrapper-img .features:after,
  .price-wrapper-img .features:before,
  .price-wrapper-img .features a:after,
  .price-wrapper-img .features a:before {
    background-color: #F27132; }
  .price-wrapper-img .features:hover {
    color: #F27132; }
  .price-wrapper-img .method:after,
  .price-wrapper-img .method:before,
  .price-wrapper-img .method a:after,
  .price-wrapper-img .method a:before {
    background-color: #85C3E9; }
  .price-wrapper-img .method:hover {
    color: #85C3E9; }
  .price-wrapper-img .purchase:after,
  .price-wrapper-img .purchase:before,
  .price-wrapper-img .purchase a:after,
  .price-wrapper-img .purchase a:before {
    background-color: #FDBE2A; }
  .price-wrapper-img .purchase:hover {
    color: #FDBE2A; }
  .price-wrapper-img .nav-list li:after,
  .price-wrapper-img .nav-list li:before,
  .price-wrapper-img .nav-list a:before,
  .price-wrapper-img .nav-list a:after {
    position: absolute;
    content: '';
    border-radius: 4px; }
  .price-wrapper-img .nav-list li:after,
  .price-wrapper-img .nav-list li:before {
    bottom: -4px;
    height: 4px; }
  .price-wrapper-img .nav-list li:not(.selected):before {
    left: 0;
    right: -2px; }
  .price-wrapper-img .nav-list li.selected:after {
    left: 0;
    right: 39px; }
  .price-wrapper-img .nav-list li.selected:before {
    right: -2px;
    width: 13px; }
  .price-wrapper-img .nav-list .selected a:before {
    height: 22px;
    width: 4px;
    bottom: -22px;
    right: 7px; }
  .price-wrapper-img .nav-list .selected a:after {
    height: 4px;
    width: 40px;
    bottom: -13px;
    right: 5px;
    transform: rotate(30deg); }
  .price-wrapper-img .view {
    display: flex;
    flex-direction: column;
    height: 200px; }
  .price-wrapper-img .example {
    width: 150px; }
  .price-wrapper-img .micra {
    width: 200px; }
  .price-wrapper-img .ibiza {
    width: 180px; }
  .price-wrapper-img .price-h1 {
    color: white;
    text-align: center;
    font-size: 50px;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
    padding-top: 220px;
    position: absolute;
    margin: 0 auto;
    width: 100%; }

.car-wrapper {
  display: flex;
  width: 80%;
  margin: 50px auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #616161;
  text-align: center; }
  .car-wrapper .car {
    width: 50%;
    margin: 0 auto;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
    border-radius: 15px;
    padding: 10px;
    margin: 10px; }
    .car-wrapper .car table {
      margin: 0 auto; }
      .car-wrapper .car table th {
        padding: 9px;
        background-color: #89c547;
        color: white; }
        .car-wrapper .car table th .price-icon {
          width: 25px;
          height: 25px; }
      .car-wrapper .car table .silver {
        background-color: #535859;
        color: white; }
      .car-wrapper .car table .white {
        background: white;
        color: #535758; }
    .car-wrapper .car table:nth-child(odd) {
      background-color: #f9f9f9; }
  .car-wrapper img {
    height: 200px;
    display: block;
    margin: 0 auto; }

.price-h2 {
  text-align: center;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  border-radius: 15px;
  padding: 10px;
  width: 300px;
  margin: 30px auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: 400;
  line-height: 1.5; }

.big-clickme {
  position: relative;
  width: 100%;
  height: 5em;
  text-align: center;
  margin: 20px auto; }

.callTo {
  width: 100%;
  box-shadow: 0 5px 5px #e8cc47, 0 9px 0 #998d2e, 0px 9px 10px rgba(0, 0, 0, 0.4);
  position: relative;
  margin-bottom: 4px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  background: #d2b934;
  box-sizing: border-box;
  text-align: center;
  padding: 0.5em 1.5em;
  font-size: 1rem;
  line-height: 1.5em;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  margin: 0;
  color: white;
  font-weight: 500;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
  letter-spacing: 3px;
  transition: letter-spacing 0.2s linear; }

.callTo:active {
  top: 7px;
  box-shadow: 0 2px 0 #e85543, 0px 4px 4px rgba(0, 0, 0, 0.4), inset 0px 2px 5px rgba(0, 0, 0, 0.2); }

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.btn {
  width: 200px;
  height: 50px;
  border-radius: 8px;
  color: #fff;
  font-size: 22px;
  font-weight: normal;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transform: translateY(-6px);
  -ms-transform: translateY(-6px);
  transform: translateY(-6px);
  -webkit-animation-name: hover;
  animation-name: hover;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate; }

.btn:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 120%;
  left: 5%;
  height: 20px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, transparent 80%);
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: -webkit-transform, opacity;
  transition-property: transform, opacity;
  opacity: .4;
  -webkit-transform: translateY(6px);
  -ms-transform: translateY(6px);
  transform: translateY(6px);
  -webkit-animation-name: hover-shadow;
  animation-name: hover-shadow;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-delay: .3s;
  animation-delay: .3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate; }

@keyframes hover {
  50% {
    -webkit-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    transform: translateY(-3px); }
  100% {
    -webkit-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    transform: translateY(-6px); } }
@-webkit-keyframes hover-shadow {
  0% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
    opacity: .4; }
  50% {
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
    opacity: 1; }
  100% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
    opacity: .4; } }
@keyframes hover-shadow {
  0% {
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
    opacity: .4; }
  50% {
    -webkit-transform: translateY(3px);
    -ms-transform: translateY(3px);
    transform: translateY(3px);
    opacity: 1; }
  100% {
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
    opacity: .4; } }
@-webkit-keyframes hover {
  50% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px); }
  100% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px); } }
@keyframes hover {
  50% {
    -webkit-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    transform: translateY(-3px); }
  100% {
    -webkit-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    transform: translateY(-6px); } }
@media screen and (max-width: 992px) {
  .price-wrapper-img {
    padding-top: 57px; }
    .price-wrapper-img .price-h1 {
      padding-top: 120px; }
    .price-wrapper-img img {
      height: 300px; }

  .car-wrapper {
    flex-direction: column;
    width: 100%;
    font-size: 0.7rem; }
    .car-wrapper img {
      width: 100%;
      height: 100%; }
    .car-wrapper .car {
      width: 90%;
      margin: 20px auto; } }
.booking-h1 {
  padding-top: 50px;
  color: #53585a;
  text-align: center;
  font-size: 30px;
  margin: 0 auto;
  width: 100%; }

.booking-and-preview-wrapper {
  width: 80%;
  margin: 0 auto;
  display: flex; }
  .booking-and-preview-wrapper .booking-wrapper {
    width: 50%;
    padding-top: 30px; }
    .booking-and-preview-wrapper .booking-wrapper .select {
      width: 100%;
      margin-bottom: 15px;
      display: block;
      padding: .5rem .75rem;
      font-size: 1rem;
      line-height: 1.25;
      color: #495057;
      background-color: #fff;
      background-image: none;
      background-clip: padding-box;
      border: 1px solid rgba(0, 0, 0, 0.15);
      border-radius: .25rem;
      transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; }
    .booking-and-preview-wrapper .booking-wrapper .receiving {
      width: 100%;
      display: flex; }
    .booking-and-preview-wrapper .booking-wrapper .form-group-title {
      background-color: #7db442;
      color: white;
      padding: 14px 0;
      border-radius: 10px;
      margin-bottom: 15px;
      text-align: center;
      letter-spacing: 2px;
      font-weight: 100;
      font-size: 20px; }
    .booking-and-preview-wrapper .booking-wrapper .form-control {
      margin-bottom: 15px;
      margin-left: 20px;
      display: block;
      width: 50%;
      padding: .5rem .75rem;
      font-size: 1rem;
      line-height: 1.25;
      color: #495057;
      background-color: #fff;
      background-image: none;
      background-clip: padding-box;
      border: 1px solid rgba(0, 0, 0, 0.15);
      border-radius: .25rem;
      transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; }
    .booking-and-preview-wrapper .booking-wrapper .booking-label {
      width: 100%;
      display: block;
      padding: 14px 0;
      border-radius: 10px;
      margin-bottom: 15px;
      text-align: center;
      font-size: 20px;
      transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; }
    .booking-and-preview-wrapper .booking-wrapper .hasDatepicker {
      display: block;
      margin-bottom: 15px;
      text-align: center;
      width: 50%;
      padding: .5rem .75rem;
      font-size: 1rem;
      line-height: 1.25;
      color: #495057;
      background-color: #fff;
      background-image: none;
      background-clip: padding-box;
      border: 1px solid rgba(0, 0, 0, 0.15);
      border-radius: .25rem;
      transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; }
    .booking-and-preview-wrapper .booking-wrapper .fa {
      position: relative;
      right: 3px;
      display: block;
      top: 3px;
      color: #7db442; }
    .booking-and-preview-wrapper .booking-wrapper .comment {
      height: 100px !important;
      padding: 10px !important;
      resize: none;
      width: 100%;
      padding: .5rem .75rem;
      font-size: 1rem;
      line-height: 1.25;
      color: #495057;
      background-color: #fff;
      background-image: none;
      background-clip: padding-box;
      border: 1px solid rgba(0, 0, 0, 0.15);
      border-radius: .25rem;
      transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; }
  .booking-and-preview-wrapper .booking-car-preview {
    width: 350px;
    margin: 30px auto; }
    .booking-and-preview-wrapper .booking-car-preview .car-price {
      background-color: #f2f2f2;
      font-size: 25px;
      padding: 13px 20px;
      border-radius: 10px;
      width: 100%;
      text-align: center; }
    .booking-and-preview-wrapper .booking-car-preview #car {
      width: 100%; }

@media screen and (max-width: 992px) {
  .booking-h1 {
    /* padding-top: 50px; */
    color: #fffef6;
    height: 100px;
    letter-spacing: 0.6px;
    line-height: 10px;
    /* margin-top: 50px; */
    text-align: center;
    font-size: 30px;
    margin: 60px auto;
    font-weight: 100;
    width: 100%;
    background: #53585a; }

  .booking-and-preview-wrapper {
    width: 90%;
    margin: 0 auto;
    flex-direction: column; }
    .booking-and-preview-wrapper .booking-wrapper {
      width: 100%; }
    .booking-and-preview-wrapper .booking-car-preview {
      width: 100%; } }
.contact-img-wrapper {
  width: 100%; }
  .contact-img-wrapper .contact-img {
    background-image: url("../images/contact_img.jpg");
    background-position: right, right;
    width: 100%;
    height: 800px;
    background-size: cover; }
    .contact-img-wrapper .contact-img .adress {
      width: 400px;
      left: 100px;
      box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
      height: 200px;
      top: 100px;
      position: relative;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      color: #616161;
      background: #53585a;
      opacity: 0.9; }
      .contact-img-wrapper .contact-img .adress .operators {
        display: flex;
        width: 100%; }
        .contact-img-wrapper .contact-img .adress .operators img {
          width: 50px;
          height: 50px;
          position: relative;
          left: 50px; }
        .contact-img-wrapper .contact-img .adress .operators p {
          position: relative;
          top: 12px;
          width: 100%; }
      .contact-img-wrapper .contact-img .adress h3 {
        font-size: 30px;
        color: white;
        text-align: center; }
      .contact-img-wrapper .contact-img .adress p {
        text-align: center;
        font-size: 20px;
        color: white; }

@media screen and (max-width: 992px) {
  .contact-img {
    margin-top: 57px; }

  .contact-img-wrapper .contact-img .adress {
    left: 0%;
    margin: 0 auto; } }

/*# sourceMappingURL=main.css.map */
